/*oef1*/
.links{
    text-align: left;
  }

  .midden{
    text-align: center;
  }

  .rechts{
    text-align: right;
  }

  /*oef2*/
  .onder{
    text-decoration: underline;
  }

  .door {
    text-decoration: line-through;
  }

  /*oef3*/
  .insprong1 {
    text-indent: 40px;
  }

  .insprong2 {
    text-indent: 10%;
  }

  /*oef4*/
  .kast1 {
    text-transform: uppercase;
  }

  .kast2 {
    text-transform: lowercase;
  }

  .kast3 {
    text-transform: capitalize;
  }